# The public base url of this application
BASE_URL=http://localhost:3000

# The postgres database url
DATABASE_URL=postgresql://localhost:5432

# Your Ragie API key.  You can get one by creating an account at https://ragie.ai
RAGIE_API_KEY=