# The public base url of this application
BASE_URL=http://localhost:3000

# The postgres database url
DATABASE_URL=postgresql://localhost:5432/basechat

# Your Ragie API key.  You can get one by creating an account at https://ragie.ai
RAGIE_API_KEY=

RAGIE_API_BASE_URL=https://api.ragie.ai

# Your Ragie webhook secret. You can get this by creating a webhook endpoint in your Ragie account.
RAGIE_WEBHOOK_SECRET=

# Your OpenAI API key
OPENAI_API_KEY=

# Your Google API key
GOOGLE_GENERATIVE_AI_API_KEY=

# Your Anthropic API key
ANTHROPIC_API_KEY=

# Your Groq API key
GROQ_API_KEY=

# Auth.js config
AUTH_DRIZZLE_URL=postgresql://localhost:5432/basechat

# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Configure auth provider secrets.  Learn more by reading the documentation at https://authjs.dev/
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# SMTP settings - These are default development settings for MailHog (https://github.com/mailhog/MailHog)
SMTP_FROM=noreply@example.com
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=0
SMTP_USER=          # Not required
SMTP_PASSWORD=      # Not required

# Your encryption key
# Generate with: openssl rand -hex 32
ENCRYPTION_KEY=

# Whether to enable billing
BILLING_ENABLED=false

# The default pages processed limit for tenants
DEFAULT_PARTITION_LIMIT=

# Bucket Storage settings. Used for Logo
# If STORAGE_ENDPOINT is empty, the logo uploader won't show.
# GCS is: storage.googleapis.com
# AWS is: s3.amazonaws.com
STORAGE_ENDPOINT=
STORAGE_PORT=# Optional. Leave blank to use default.
STORAGE_REGION=#Required for S3. Optional for GCS.
STORAGE_USE_SSL=true
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
# Name of the bucket you are using
STORAGE_BUCKET=
# Prefix all logo object names with this.
# Comment out to not have one
STORAGE_PREFIX=ugc

# Optional: Google Analytics Key
GOOGLE_ANALYTICS_KEY=

# Optional: Slack OAuth and webhook configs - Get these from your Slack app at https://api.slack.com/apps
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

# DANGER: This will allow unverified Slack webhook requests which may be useful
#         for development purposes. This should not be used in production.
# SLACK_ALLOW_UNVERIFIED_WEBHOOKS=true

# Optional: Google Cloud Tasks configuration for handling Slack Bot events
# GOOGLE_CLOUD_PROJECT_ID=
# GOOGLE_CLOUD_TASKS_QUEUE=
# GOOGLE_CLOUD_TASKS_LOCATION=
# GOOGLE_CLOUD_TASKS_SERVICE_ACCOUNT=   # Service account email used for OIDC token generation
